.bgr{
  padding: 20px;
  background-color: #555252;
  
}

.cart-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 4rem;
}

.cart-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cart-img {
  height: 150px;
  object-fit: contain;
  background-color:#a00936;
  padding: 10px;
}

.cart-title-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-price {
  color: #007bff;
  font-weight: bold;
}

.cart-category {
  font-size: 0.9rem;
  color: #555;
}

.remove-btn {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.empty-cart-text {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin-top: 20px;
}
