

.bagr {
    background-color: #555252; /* Light background color for the page */
    padding: 20px; /* Add padding to the overall container */
    min-height: 30vh;
}

.cardbox {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    transition: transform 0.3s ease; /* Smooth hover effect */
    width: 100%;
}

.cardbox:hover {
    transform: scale(1.05);
}

.pict {
    height: 130px;
    object-fit: contain;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 1rem;
    color: #007b
}
